.footerSignUp{
    width:100%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: gray;
    border-top: 1px solid gray;
    span{
        margin-right: 10px;
    }
    a{
        color: #006dcc;
        text-decoration: none;
        font-weight: 500; 
    }
}